<h4>create vehicle</h4>
<form [formGroup]="Vehicleform">
    <label for="">Vehicle:</label>
    <input type="text" formControlName="Vehicle">
    <br>
    <label for="">manufacturer:</label>
    <input type="text" formControlName="manufacturer"><br>
    <label for="">model:</label>
    <input type="text" formControlName="model"><br>
    <label for="">type:</label>
    <input type="text" formControlName="type"><br>
    <label for="">fuel:</label>
    <input type="text" formControlName="fuel"><br>
    <label for="">color:</label>
    <input type="text" formControlName="color"><br>
    <label for="">img:</label>
    <input type="text" formControlName="image"><br>
    <label for="">cost:</label>
    <input type="number" formControlName="cost">
    <br>

    <button class="btn btn-success" (click)="submit()">submit</button>


</form>
