 <input type="text" placeholder="search" [(ngModel)]="term" (keyup)="filter()">

 <select [(ngModel)]="column">
    <option>account_name</option>
    <option>available_balance</option>
    <option>account_number</option>
    <option>city</option>
    <option>profie_picture</option>
    <option>id</option>
 </select>

 <select [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
 </select>
 <button (click)="sort()">sort</button>

 <select [(ngModel)]="limit">
    <option>10</option>
    <option>20</option>
    <option>30</option>
    
 </select>

 <select [(ngModel)]="page">
    <option>1</option>
    <option>2</option>
    <option>3</option>

 </select>
 <button (click)="pagination()">pagination</button>


 <table class="table   table-bordered">
    <thead>
        <tr>
            <th>account_name</th>
            <th>available_balance</th>
            <th>account_number</th>
            <th>city</th>
            <th>profile_picture</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of accounts">
            <td>{{account.account_name}}</td>
            <td>{{account.available_balance}}</td>
            <td>{{account.account_number}}</td>
            <td>{{account.city}}</td>
            <td>
                <img src="{{account.profie_picture}}" alt="" width="100px">
            </td>
            <td>{{account.id}}</td>
            <td>
                <button (click)="delete(account.id)">delete</button>
            </td>
        </tr>
    </tbody>
</table>
