<div id="calci">
    <div class="calculator">
        <h2>calculator</h2>
        <label for="">num 1:</label>
        <input type="number" id="num" [(ngModel)]="num1"><br><br>
        <label for="">num 2:</label>
        <input type="number" id="num" [(ngModel)]="num2"><br><br>
        <button [disabled]="!num1 || !num2" (click)="sum()">sum</button>
        <button [disabled]="!num1 || !num2" (click)="sub()">sub</button>
        <button [disabled]="!num1 || !num2" (click)="mul()">mul</button>
        <button [disabled]="!num1 || !num2" (click)="div()">div</button>

        <h2>Result:{{result}}</h2>
    </div>



</div>