 <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <h3>Pok&#232;man Carousel</h3>

    
    
        <div class="carousel-inner">
            
            <div class="carousel-item" *ngFor="let man of pokeman; let i = index" [class.active]="i === 0">
                <img [src]="man.image_url" class="d-block w-50" alt="image">

                <h5>{{ man.pokemon }}</h5>
                <p><b>Type:</b> {{ man.type }}</p>
                <p><b>Abilities:</b> {{ man.abilities }}</p>
                <p><b>Hitpoints:</b> {{ man.hitpoints }}</p>
                <p><b>Evolutions:</b> {{ man.evolutions }}</p>
                <p><b>Location:</b> {{ man.location }}</p>
                

            </div>

    </div>


    <!-- Carousel Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span id="prev">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span id="prev">Next</span>
    </button>
</div>


