<div class="parent">
    <div class="left">
        <h2> &#9776;My website</h2>
        <hr>
        <h3 routerLink="home">Home</h3>
        <h3 routerLink="welcome">welcome</h3>
        <h3 routerLink="Databinding">Data-Binding</h3>
        <h3 routerLink="Calculator">Calculator</h3>
        <h3 routerLink="Rectangle">Rectangle</h3>
        <h3 routerLink="Circle">Circle</h3>
        <h3 routerLink="BMI">BMI</h3>
        <h3 routerLink="eventregistration">Event registration</h3>
        <h3 routerLink="employeeregistration">Employye-registration</h3>
        <h3 routerLink="directives">Directives</h3>
        <h3 routerLink="employee">Employee</h3>
        <h3 routerLink="flipkart">Flipkart</h3>
        <h3 routerLink="vehicle">vehicle</h3>
        <h3 routerLink="create">create-vehicle</h3>
        <h3 routerLink="accounts">Accounts</h3>
        <h3 routerLink="account">create-Accounts</h3>
        <h3 routerLink="amazon">Amazon</h3>
        <h3 routerLink="mail">Mail</h3>
        <h3 routerLink="pintrest">pintrest</h3>
        <h3 routerLink="weather">Weather</h3>
        <h3 routerLink="blog">Blog</h3>
        <h3 routerLink="IMDb">IMDb</h3>
        <h3 routerLink="pokeman">Pokeman</h3>
        <h3 routerLink="social">Social profiles</h3>
        <h3 routerLink="student">Student Id Card</h3>
        <h3 routerLink="studentid">create Student ID card</h3>
        <button routerLink="/login">logout</button>
        <br>
    </div>
    <div class="right">
        <router-outlet></router-outlet>


    </div>
</div>
